<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div>
    <h1>勤怠編集画面</h1>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出勤時間</th>
          <th>退勤時間</th>
          <th>在社時間</th>
          <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td><%= $days_of_the_week[day.worked_on.wday] %></td>
              <!-- ↓この条件式により「管理権限者では無いこと、かつ勤怠オブジェクトが当日から判断して翌日以降」
              　「それ以外」で分岐することができます readonly: true -->
              <% if !current_user.admin? && (Date.current < day.worked_on) %>
                <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
                <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
              <% else %>
                <td><%= attendance.time_field :started_at, class: "form-control" %></td>
                <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
              <% end %>
              <td>
                <!-- ↓今回編集・更新したいのはUserモデルに紐づいたAttendanceモデルの属性です
        　fields_forという特殊なヘルパーメソッド：このメソッドはform_with内で異なるモデルを編集したい時に使うことができます。
        　つまり、@userに紐付く@attendancesの情報が編集可能になるということですね
        　2つの引数設定：
        　⓵attendances[]： 各フォームのinputタグのname属性にattendances[id][カラム名]という形式で展開されるようになります
        　  <input class="form-control" type="time" name="user[attendances][1][started_at]" id="user_attendances_1_started_at" />
        　 ↑これは実際に更新処理をする時に非常に重要
        　 ➁day
        　 　繰り返し処理されている@attendancesからなる1つのAttendanceオブジェクトを指します。
        これらの情報をもとに、ブロックにattendance変数を用いてフォームを生成しているのです。-->
                <% if day.started_at.present? && day.finished_at.present? %>
                  <%= working_times(day.started_at, day.finished_at) %>
                <% end %>
              </td>
              <td><%= attendance.text_field :note, class: "form-control" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="center">
    <%= f.submit "まとめて更新", class: "btn btn-lg btn-primary" %>
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
  </div>
<% end %>